sentence-transformers==3.3.1
Flask-Login
flask-SQLAlchemy
langchain
flask
flask_cors
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
numpy
pinecone-client
gunicorn
langchain-google-genai

-e .
